# Survey Mapping for analysis
The following data is for preliminary purposes only. It is to see the values

In [2]:
import pandas as pd
import numpy as np

In [101]:
df = pd.read_excel("lokasi_survei.xlsx", sheet_name="Calon-Survei")
df.tail()

,No,MOR,Kawasan,Provinsi,Kabupaten/Kota,Kecamatan,No Lembaga Penyalur,Nama Badan Usaha,Badan Usaha,Tipe SPBUN,Jenis Kepemilikan SPBUN,Alamat,Koordinat,Pelabuhan (Pelabuhan & Non Pelabuhan),Laut/Sungai,Keberadaan SPBU Sekitar (Km)
96,97,8,Papua,Papua Barat Daya,Kota Sorong,Sorong Manoi,8898403,PT. ALDA MULTI SEJAHTERA,PT,SPBUN Type B,DODO,PELABUHAN PPI (PENDARATAN IKAN),"'-0.883481,131.262766",Pelabuhan Laut,Laut,0.433492
97,98,8,Papua,Papua Barat Daya,Kab Sorong,Seget,8898404,CV. SEGET JAYA,CV,SPBUN Type A,DODO,KAMPUNG SEGET DISTRIK SEGET,"-1.39232,130.97876",Non Pelabuhan Laut,Laut,40.094558
98,99,8,Papua,Papua Barat Daya,Kab Sorong,Salawati,8898405,KOPERASI NELAYAN MOMAR SEJAHTERA,Koperasi,SPBUN Type A,DODO,JL.KOMPLEKS PELABUHAN PERIKANAN KAT,"-1.12806,131.22632",Pelabuhan Sungai,Sungai,5.877510
99,100,8,Papua,Papua Barat Daya,Kab Sorong Selatan,Teminabuan,8898406,CV. ALAM INDAH UTAMA,CV,SPBUN Type A,DODO,KAMPUNG WERSAR DISTRIK TEMINABUAN,"-1.468951,131.99018",Non Pelabuhan Sungai,Sungai,4.350166
100,101,8,Papua,Papua Barat Daya,Kab Sorong Selatan,Kec. Inanwatan,8898408,PT. PATRIA ABADI JAYA,PT,SPBUN Type A,DODO,KEL. SOLTA KEC. INANWATU,"-2.087971,132.196857",Non Pelabuhan Sungai,Sungai,14.147776

In [102]:
df.columns

Index(['No', 'MOR', 'Kawasan', 'Provinsi', 'Kabupaten/Kota', 'Kecamatan',
       'No  Lembaga Penyalur', 'Nama Badan Usaha', 'Badan Usaha', 'Tipe SPBUN',
       'Jenis Kepemilikan SPBUN', 'Alamat', 'Koordinat',
       'Pelabuhan (Pelabuhan & Non Pelabuhan)', 'Laut/Sungai',
       'Keberadaan SPBU Sekitar (Km)'],
      dtype='object')

In [130]:
df_copy = df
koperasi = ['BUMD', 'Koperasi']
perusahaan = ['PT', 'CV', 'Perorangan']
def label_badan_usaha(val):
    if val in koperasi:
        return 'Koperasi'
    else:
        return 'Perusahaan'

df_copy['Badan Usaha'] = df_copy['Badan Usaha'].apply(label_badan_usaha)

In [131]:
grouping0 = df_copy.groupby(['Tipe SPBUN', 'Badan Usaha'])['No'].count().reset_index()
grouping1 = df_copy.groupby(['Tipe SPBUN', 'Badan Usaha', 'Pelabuhan (Pelabuhan & Non Pelabuhan)'])['No'].count().reset_index()

In [132]:
conditions = [
    grouping0["Badan Usaha"] == "Koperasi",
    grouping0["Tipe SPBUN"] == "SPBUN Type A",
    grouping0["Tipe SPBUN"] == "SPBUN Type B"
]

choice = [
    grouping0["No"] * .5,
    grouping0["No"] * .5,
    grouping0["No"] * .5
]

grouping0["categorized"] = np.select(conditions, choice)
grouping0

     Tipe SPBUN Badan Usaha  No  categorized
0  SPBUN Type A    Koperasi  31         15.5
1  SPBUN Type A  Perusahaan  42         21.0
2  SPBUN Type B    Koperasi   8          4.0
3  SPBUN Type B  Perusahaan  20         10.0

In [133]:
conditions = [
    grouping1["Badan Usaha"] == "Koperasi",
    grouping1["Tipe SPBUN"] == "SPBUN Type A",
    grouping1["Tipe SPBUN"] == "SPBUN Type B"
]

choice = [
    grouping1["No"] * .5,
    grouping1["No"] * .5,
    grouping1["No"] * .5
]

grouping1["categorized"] = np.select(conditions, choice)
grouping1

,Tipe SPBUN,Badan Usaha,Pelabuhan (Pelabuhan & Non Pelabuhan),No,categorized
0,SPBUN Type A,Koperasi,Non Pelabuhan Laut,8,4.0
1,SPBUN Type A,Koperasi,Non Pelabuhan Sungai,4,2.0
2,SPBUN Type A,Koperasi,Pelabuhan Laut,9,4.5
3,SPBUN Type A,Koperasi,Pelabuhan Sungai,9,4.5
4,SPBUN Type A,Perusahaan,Non Pelabuhan Laut,18,9.0
5,SPBUN Type A,Perusahaan,Non Pelabuhan Sungai,9,4.5
6,SPBUN Type A,Perusahaan,Pelabuhan Laut,9,4.5
7,SPBUN Type A,Perusahaan,Pelabuhan Sungai,6,3.0
8,SPBUN Type B,Koperasi,Non Pelabuhan Laut,2,1.0
9,SPBUN Type B,Koperasi,Pelabuhan Laut,2,1.0
10,SPBUN Type B,Koperasi,Pelabuhan Sungai,4,2.0
11,SPBUN Type B,Perusahaan,Non Pelabuhan Laut,7,3.5
12,SPBUN Type B,Perusahaan,Non Pelabuhan Sungai,4,2.0
13,SPBUN Type B,Perusahaan,Pelabuhan Laut,3,1.5
14,SPBUN Type B,Perusahaan,Pelabuhan Sungai,6,3.0

# Categorized values

In [3]:
# Read the Excel file
excel_path = "/Users/athamawardi/Desktop/Research-Projects/PSE_Pertamina/Survey_Map/lokasi_survei.xlsx"
df = pd.read_excel(excel_path, sheet_name='Calon-Survei')

# Parse coordinates from the "Koordinat" column
def parse_coordinates(coord_str):
    """Parse coordinates from string format 'lat,lon' to [lat, lon]"""
    if pd.isna(coord_str):
        return None
    try:
        parts = str(coord_str).strip().split(',')
        if len(parts) == 2:
            lat = float(parts[0].strip())
            lon = float(parts[1].strip())
            # Validate coordinates are reasonable for Indonesia
            if -15 <= lat <= 10 and 95 <= lon <= 145:
                return [lat, lon]
    except:
        pass
    return None

# Extract coordinates
df['coords'] = df['Koordinat'].apply(parse_coordinates)

# Filter out rows without valid coordinates
df_valid = df[df['coords'].notna()].copy()

print(f"Total rows: {len(df)}")
print(f"Rows with valid coordinates: {len(df_valid)}")

Total rows: 101
Rows with valid coordinates: 99

In [7]:
df_valid.columns

Index(['No', 'MOR', 'Kawasan', 'Provinsi', 'Kabupaten/Kota', 'Kecamatan',
       'No  Lembaga Penyalur', 'Nama Badan Usaha', 'Badan Usaha', 'Tipe SPBUN',
       'Jenis Kepemilikan SPBUN', 'Alamat', 'Koordinat',
       'Pelabuhan (Pelabuhan & Non Pelabuhan)', 'Laut/Sungai',
       'Keberadaan SPBU Sekitar (Km)', 'coords'],
      dtype='object')

In [5]:
df_invalid = df[~df.index.isin(df_valid.index)]

print("Rows that were filtered out:")
df_invalid

Rows that were filtered out:

,No,MOR,Kawasan,Provinsi,Kabupaten/Kota,Kecamatan,No Lembaga Penyalur,Nama Badan Usaha,Badan Usaha,Tipe SPBUN,Jenis Kepemilikan SPBUN,Alamat,Koordinat,Pelabuhan (Pelabuhan & Non Pelabuhan),Laut/Sungai,Keberadaan SPBU Sekitar (Km),coords
74,75,5,Bali & Nusa Tenggara,Nusa Tenggara Timur,Kota Kupang,Alak,5885103,KUD MINA KAROTA,Koperasi,SPBUN Type A,DODO,"LOKASI KEL.NAMOSAIN, KEC.ALAK","-101.71797,123.563677",Non Pelabuhan Laut,Laut,0.5,None
89,90,7,Sulawesi,Sulawesi Selatan,Kab Maros,Bontoa,7890506,KOP. NELAYAN MINA REZKY,Koperasi,SPBUN Type A,DODO,DUSUN PARASANGAN BERU - PAJUKUKANG,"-5.6210495,1.197638375",NaN,0,NaN,None